<mat-toolbar color="primary" class="sticky">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <app-icon type="faBars"></app-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">
            <img width="40" [src]="'DCS_World_logo.png' | assetsPathFixPipe">
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home" routerLinkActive="active"><app-icon type="faMap"></app-icon> Mapa</a>
            </li>
            <li>
                <a routerLink="/profile" routerLinkActive="active"><app-icon type="faIdCard"></app-icon> Logbook</a>
            </li>
            <li>
                <a routerLink="/pilots" routerLinkActive="active"><app-icon type="faUserFriends"></app-icon> Pilotos</a>
            </li>
            <li>
                <a class="logout" (click)="logout()"><app-icon type="faSignOutAlt"></app-icon></a>
            </li>
        </ul>
    </div>
  </mat-toolbar>