<mat-toolbar color="primary" class="sticky">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <fa-icon [icon]="'faBars' | iconPipe" [fixedWidth]="true"></fa-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">
            <img width="40" [src]="'DCS_World_logo.png' | assetsPathFixPipe">
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home" routerLinkActive="active"><fa-icon [icon]="'faMap' | iconPipe" [fixedWidth]="true"></fa-icon> Mapa</a>
            </li>
            <li>
                <a routerLink="/profile" routerLinkActive="active"><fa-icon [icon]="'faIdCard' | iconPipe" [fixedWidth]="true"></fa-icon> Logbook</a>
            </li>
            <li>
                <a routerLink="/pilots" routerLinkActive="active"><fa-icon [icon]="'faUserFriends' | iconPipe" [fixedWidth]="true"></fa-icon> Pilotos</a>
            </li>
            <li>
                <a class="logout" (click)="logout()"><fa-icon [icon]="'faSignOutAlt' | iconPipe" [fixedWidth]="true"></fa-icon></a>
            </li>
        </ul>
    </div>
  </mat-toolbar>