<mat-toolbar color="primary" class="sticky">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <fa-icon [icon]="'faBars' | iconPipe" [fixedWidth]="true"></fa-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">
            <img width="40" [src]="'DCS_World_logo.png' | assetsPathFixPipe">
        </a>
        <span>&nbsp;sim-dcs</span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <mat-nav-list fxLayout="row" fxLayoutGap="15px" class="navigation-items">
            <mat-list-item>
                <a routerLink="/home" routerLinkActive="active"><fa-icon [icon]="'faMap' | iconPipe" [fixedWidth]="true"></fa-icon> Mapa</a>
            </mat-list-item>
            <mat-list-item [matMenuTriggerFor]="menuMissions">
                <a><fa-icon [icon]="'faTasks' | iconPipe" [fixedWidth]="true"></fa-icon> Misiones</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/profile" routerLinkActive="active"><fa-icon [icon]="'faIdCard' | iconPipe" [fixedWidth]="true"></fa-icon> Logbook</a>
            </mat-list-item>
            <mat-list-item >
                <a routerLink="/pilots" routerLinkActive="active"><fa-icon [icon]="'faUserFriends' | iconPipe" [fixedWidth]="true"></fa-icon> Pilotos</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item >
                <a class="logout" (click)="logout()"><fa-icon [icon]="'faSignOutAlt' | iconPipe" [fixedWidth]="true"></fa-icon></a>
            </mat-list-item>
        </mat-nav-list>
    </div>
  </mat-toolbar>
  <mat-menu #menuMissions="matMenu">
    <a mat-menu-item routerLinkActive="subItem-active" routerLink="/create-mission"><fa-icon [icon]="'faPlusCircle' | iconPipe" [fixedWidth]="true"></fa-icon> Crear Misión</a>
    <a mat-menu-item routerLink="/edit-mission"><fa-icon [icon]="'faEdit' | iconPipe" [fixedWidth]="true"></fa-icon> Modificar</a>
    <a mat-menu-item ><fa-icon [icon]="'faCalendarAlt' | iconPipe" [fixedWidth]="true"></fa-icon> Ver misiones</a>
  </mat-menu>