<div class="container">
    <div class="marker-detail" *ngIf="!hideLabel">
        <span 
            [style.color]="marker.coalition"
            [style.font-size]="zoom + 'px'"
            [style.font-weight]="marker.isMe ? 'bold' : 'normal'">
            {{ marker.userName | truncateText:[15, '...']}}
        </span>
    </div>
    <img [src]="marker.icon | assetsPipe" [ngStyle]="getImageStyle()">
    <div class="marker-detail" *ngIf="!hideLabel && showDetail">
        <span 
            [style.color]="marker.coalition"
            [style.font-size]="zoom + 'px'">
            {{ marker.altitude }} ft. / {{ marker.heading }} ° 
        </span>
    </div>
</div>