<section fxLayout="column" fxFlexAlign="stretch"> 

  <agm-map 
    [(zoom)]="zoom"
    [latitude]="map.coords.lat" [longitude]="map.coords.lng" 
    [streetViewControl]="streetViewControl" 
    [fullscreenControl]="fullscreenControl" 
    [mapTypeControl]="mapTypeControl">

    <agm-overlay *ngFor="let position of positions" [latitude]="position.lat" 
        [longitude]="position.lng"
        (markerClick)="markerClick(position)"> 
            <app-dcs-map-marker [marker]="position" [zoom]="zoom" [hideLabel]="hideLabel" [showDetail]="showDetail"></app-dcs-map-marker>
    </agm-overlay>

  </agm-map>
</section>