<mat-card *ngIf="user">
    
  <mat-card-header>
      <img mat-card-avatar [src]="user.avatar">
      <mat-card-title>
        <div>
          <div style="float:left;">{{user.userName}}</div>
          <div style="float:right;" (click)="onRefresh()"><fa-icon [icon]="'faSyncAlt' | iconPipe" [fixedWidth]="true"></fa-icon></div>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        {{user.email}}
      </mat-card-subtitle>
      
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Logbook">
          <div class="tab-content">
            <app-logbook [timeLineEvents]="timeLineEvents"></app-logbook>
          </div>
        </mat-tab>
        <mat-tab label="Generales">
          <div class="tab-content">
            <app-stats [stats]="stats"></app-stats>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

  </mat-card>