@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~ngx-toastr/toastr';

html, body { 
    margin: 0;
    height: 100%;
}

.mat-drawer-inner-container {
    background-image: linear-gradient(90deg,#f8f8f8, #1c2974);
}

.mat-sidenav {
    width: 75% !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}