<div class="logo">
    <img width="35" [src]="'DCS_World_logo.png' | assetsPathFixPipe">
</div>
<br>
<mat-nav-list fxLayoutGap="15px" class="navigation-items">
    <mat-list-item (click)="onSidenavClose('home')">
        <a routerLinkActive="active"><fa-icon [icon]="'faMap' | iconPipe" [fixedWidth]="true"></fa-icon> Mapa</a>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="menuMissions">
        <a><fa-icon [icon]="'faTasks' | iconPipe" [fixedWidth]="true"></fa-icon> Misiones</a>
    </mat-list-item>
    <mat-list-item (click)="onSidenavClose('profile')">
        <a routerLinkActive="active"><fa-icon [icon]="'faIdCard' | iconPipe" [fixedWidth]="true"></fa-icon> Logbook</a>
    </mat-list-item>
    <mat-list-item (click)="onSidenavClose('pilots')">
        <a routerLinkActive="active"><fa-icon [icon]="'faUserFriends' | iconPipe" [fixedWidth]="true"></fa-icon> Pilotos</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="logout()">
        <a class="logout"><fa-icon [icon]="'faSignOutAlt' | iconPipe" [fixedWidth]="true"></fa-icon> Salir</a>
    </mat-list-item>
</mat-nav-list>
<mat-menu #menuMissions="matMenu">
    <a mat-menu-item (click)="onSidenavClose('create-mission')"><fa-icon [icon]="'faPlusCircle' | iconPipe" [fixedWidth]="true"></fa-icon> Crear Misión</a>
    <a mat-menu-item (click)="onSidenavClose('edit-mission')"><fa-icon [icon]="'faEdit' | iconPipe" [fixedWidth]="true"></fa-icon> Modificar mis misiones</a>
    <a mat-menu-item ><fa-icon [icon]="'faCalendarAlt' | iconPipe" [fixedWidth]="true"></fa-icon> Ver Misiones</a>
</mat-menu>